In [45]:
import numpy as np
import pandas as pd

In [46]:
data=pd.read_csv("Restaurant_Reviews.tsv",sep='\t')

In [47]:
data.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [48]:
data.shape

(1000, 2)

In [49]:
data.describe()

            Liked
count  1000.00000
mean      0.50000
std       0.50025
min       0.00000
25%       0.00000
50%       0.50000
75%       1.00000
max       1.00000

In [50]:
data['Liked'].value_counts()

1    500
0    500
Name: Liked, dtype: int64

In [51]:
data.rename(columns={'Review':'review','Liked':'sentiment'},inplace=True)

In [52]:
def lower(txt):
    return txt.lower()

import string
def removePunc(txt):
    for i in string.punctuation:
        txt=txt.replace(i,'')
    return txt

from textblob import TextBlob
def Spellcorr(txt):
    t=TextBlob(txt)
    return t.correct()
    
import nltk 
from nltk.corpus import stopwords
def removeSW(txt):
    y=[]
    for i in txt.split():
        if i not in stopwords.words('english'):
            y.append(i)
    return " ".join(y)

import re
def removeEmojis(txt):
    p=re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)
    return p.sub(r'',txt)

import emoji
def replaceEmoji(txt):
    return emoji.demojize(txt)

In [53]:
##tokenisation

# 1. use split(condn) function
# 2. using regular expressions
# 3. using nltk.tokenize
# 4. using  spacy library(but ye documemt me kaam krta hai)

In [54]:
from nltk.tokenize import word_tokenize,sent_tokenize
def tokenize(txt):
    return word_tokenize(txt)

In [55]:
## stemming

from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

def stemming(txt):
    y=[]
    for i in txt.split():
        y.appned(ps.stem(i))
    return " ".join(y)

# isme kuch word ajjeeb ate hai to agra kisiko output dikahana hai to lemmenisation use kro
#but lematisation is slower
#lemmatization me pos bhi batana padhta hai

In [56]:
data['review']=data['review'].apply(lower)

In [57]:
data['review']=data['review'].apply(removePunc)

In [58]:
data['review']=data['review'].apply(removeSW)

In [59]:
data['review']=data['review'].apply(replaceEmoji)

In [63]:
data['review']

0                                        wow loved place
1                                             crust good
2                                    tasty texture nasty
3      stopped late may bank holiday rick steve recom...
4                            selection menu great prices
                             ...
995                    think food flavor texture lacking
996                              appetite instantly gone
997                      overall impressed would go back
998    whole experience underwhelming think well go n...
999    hadnt wasted enough life poured salt wound dra...
Name: review, Length: 1000, dtype: object

In [65]:
def removeDIGIT(txt):
    p=re.compile("\b[0-9]+\b\s*")
    return p.sub(r"",txt)

In [67]:
data['review']=data['review'].apply(removeDIGIT)

In [82]:

y=data['sentiment']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=100)

In [111]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [112]:
X=cv.fit_transform(data['review']).toarray()

In [113]:
from sklearn.naive_bayes import MultinomialNB,BernoulliNB,GaussianNB
mn=MultinomialNB()
bn=BernoulliNB()
gn=GaussianNB()

In [114]:
mn.fit(X_train,y_train)
bn.fit(X_train,y_train)
gn.fit(X_train,y_train)
mn_p=mn.predict(X_test)
bn_p=bn.predict(X_test)
gn_p=gn.predict(X_test)

In [115]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(y_test,mn_p))
print(accuracy_score(y_test,bn_p))
print(accuracy_score(y_test,gn_p))

0.788
0.784
0.688

In [116]:
confusion_matrix(y_test,mn_p)

array([[ 90,  26],
       [ 27, 107]], dtype=int64)

In [119]:
classification_report(y_test,mn_p)

'              precision    recall  f1-score   support\n\n           0       0.77      0.78      0.77       116\n           1       0.80      0.80      0.80       134\n\n    accuracy                           0.79       250\n   macro avg       0.79      0.79      0.79       250\nweighted avg       0.79      0.79      0.79       250\n'